@page "/"


    <div class="card text-center">
        <div class="card-header">
            Hello, world!
        </div>
        <div class="card-body">
            Welcome to your new app.
        </div>
    </div>
<h1></h1>


